:root {
  --font-primary: "Space Mono", monospace;
  --font-secondary: "Inconsolata", monospace;
  --font-third: "Montserrat", sans-serif;

  --gray-1: #333333;
  --gray-2: #4f4f4f;

  --white-1: #fff;

  --text-xs: 1.4rem;
  --text-sm: 1.8rem;
  --text-md: 2.4rem;
  --text-lg: 1.5rem;

  --title-sm: 2.4rem;
  --title-md: 4.55rem;
  --title-lg: 6.4rem;

  --space-xs: 2rem;
  --space-sm: 2.4rem;
  --space-md: 4rem;
  --space-lg: 7.7rem;

  --max-width: 144rem;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  padding: var(--space-xs) var(--space-xs) var(--space-md);
  max-width: var(--max-width);
  margin: 0 auto;
}

body,
main {
  width: 100%;
}

/* css to elements */
.title-two {
  font-size: var(--title-sm);
  font-family: var(--font-secondary);
  color: var(--gray-1);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 6rem 0;
  width: 100%;
}

.image-container {
  flex: 1;
  width: 100%;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
}

.text-container {
  flex: 1;
}

.title-one {
  font-size: var(--title-md);
  font-weight: 700;
  color: var(--gray-1);
  line-height: 7rem;
}

.text-regular {
  font-size: var(--text-sm);
  color: var(--gray-2);
  line-height: 2.6rem;
}

.text-container .text-regular {
  margin-top: 3rem;
}

.text-container .button-link {
  margin-top: 6.6rem;
}

.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.6rem;
  height: 6.8rem;
  background-color: var(--gray-1);
  color: var(--white-1);
  font-size: var(--text-xs);
}

.footer {
  text-align: center;
  margin-top: 9.6rem;
}

.contact-links {
  cursor: pointer;
  display: inline-block;
  color: var(--gray-1);
  font-family: var(--font-third);
  font-size: var(--text-xs);
  transition: all 0.3s ease-in-out;
}

.contact-links:first-child {
  margin-right: 1rem;
}

.contact-links:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  body {
    padding: var(--space-md) var(--space-lg);
  }

  .title-one {
    font-size: var(--title-lg);
  }

  .image {
    max-width: 54rem;
    height: 41.5rem;
  }

  .text-regular {
    font-size: var(--text-md);
    line-height: 3.6rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    flex-direction: row;
    margin-top: 20rem;
    max-width: 130rem;
  }

  .image-container {
    margin-right: 2.5rem;
    justify-content: flex-start;
  }

  .title-one {
    line-height: 9.5rem;
  }

  .text-container .text-regular {
    max-width: 40rem;
  }

  .footer {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* util classes */
.upper {
  text-transform: uppercase;
}
